.Profile-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: auto;

}



.Profile-component .profile-pic {
    border-radius: 50%;
    object-fit: contain;
    height: 60px;
    width: 60px;

}

.Profile-component .name {
    color: #ff6060;
}

@media screen and (max-width:480px) {
    .Profile-component {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        margin: auto;

    }
}