.annonces-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    width: 92vw;
    margin: 2rem;
    margin-left: 3rem;
    background-color: #F7F7F7;
    border-radius: 1rem;
    padding: 2rem;
}


@media screen and (max-width:480px) {

    .annonces-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 92vw;
        margin: 0.5rem;
        background-color: #F7F7F7;
        border-radius: 1rem;
        padding: 0.5rem;
    }
}