.annonce-pic {
    object-fit: fill;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 0.5rem;
    opacity: 0.2;
}

.annonce {
    /*background: rgba(255, 96, 96, 1);*/
    background: linear-gradient(180deg, rgba(255, 96, 96, 1)0%, rgba(0, 0, 0, 0.4) 100%);
    width: 30%;
    height: 300px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    text-align: center;


}

.annonce h6 {

    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 73.73%;
    bottom: 5.88%;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    text-align: left;
    width: 60%;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width:480px) {
    .annonce {
        /*background: rgba(255, 96, 96, 1);*/
        background: linear-gradient(180deg, rgba(255, 96, 96, 1)0%, rgba(0, 0, 0, 0.4) 100%);
        width: 100%;
        height: 300px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        color: white;

    }

}