nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
    font-family: 'Montserrat';
    padding: 1rem;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 2rem;
    font-family: 'Montserrat';
    list-style-type: none;
    font-size: 1rem;


}

.nav-menu li a {
    text-decoration: none;
    color: inherit;

}



.logo {
    height: 2rem;
}