.caroussel {
    width: 93vw;
    height: 55vh;
    border-radius: 2rem;
    margin: auto;
}

.caroussel-inner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 2rem;
}

.caroussel-inner .left {
    border-radius: 2rem 0rem 0rem 2rem;
    flex: 5%;
    height: 100%;
    background-color: rgb(1, 1, 1, 0.01);
    display: grid;
    place-items: center;
    color: #ffffff;
    cursor: pointer;
    margin-left: 1rem;

}

.caroussel-inner .center {
    flex: 90%;
    height: 100%;
}

.caroussel-inner .right {
    border-radius: 0rem 2rem 2rem 0rem;
    flex: 5%;
    height: 100%;
    background-color: rgb(1, 1, 1, 0.01);
    display: grid;
    place-items: center;
    color: #ffffff;
    cursor: pointer;
    margin-right: 1rem;
}

.fa-chevron-left:before {

    font-size: 4rem;
}

.fa-chevron-right:before {

    font-size: 4rem;

}

@media screen and (max-width:480px) {
    .fa-chevron-left:before {

        font-size: 1.5rem;
    }

    .fa-chevron-right:before {

        font-size: 1.5rem;

    }

    .caroussel {
        width: 88vw;
        height: 55vh;
        border-radius: 2rem;
        margin: auto;

    }

    .caroussel-inner {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        border-radius: 2rem;
    }

    .caroussel-inner .left {
        border-radius: 2rem 0rem 0rem 2rem;
        flex: 2%;
        height: 100%;
        background-color: rgb(1, 1, 1, 0.020);
        display: grid;
        place-items: center;
        color: #ffffff;
        cursor: pointer;
        margin-left: 0.5rem;

    }

    .caroussel-inner .center {
        flex: 90%;
        height: 100%;
    }

    .caroussel-inner .right {
        border-radius: 0rem 2rem 2rem 0rem;
        flex: 2%;
        height: 100%;
        background-color: rgb(1, 1, 1, 0.020);
        display: grid;
        place-items: center;
        color: #ffffff;
        cursor: pointer;
        margin-right: 0.5rem;
    }

    .left .fa-solid {
        font-size: 0.01rem;
    }
}